<!DOCTYPE html>
<html lang="en">

<head>
    <title>Ajout</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

</head>

<body>

    <div th:replace="fragments/nav :: nav">
    </div>

    <div class="container">
        </hr>

        <h3>Ajouter Service</h3>
        </hr>

        <form th:action="@{updateAgence}" >

            <div class="mb-3">
                <label for="exampleInputEmail1" class="form-label">ID</label>
                <input type="hidden" name="id"
                class="form-control" th:value="${agence.id}" />
            </div>

            <div class="mb-3">
                <label for="exampleInputEmail1" class="form-label">Nom</label>
                <input type="text" th:value="${agence.nomAgence}" name="nomAgence" class="form-control" id="exampleInputEmail1"
                    aria-describedby="emailHelp">
                    <span th:errors=${agence.nomAgence}
								class="text-danger"> </span>
            </div>

            <div class="mb-3">
                <label for="exampleInputEmail1" class="form-label"> Contact</label>
                <input type="number"  th:value="${agence.contact}" name="contact" class="form-control" id="exampleInputEmail1"
                    aria-describedby="emailHelp">
                    <span th:errors=${agence.contact}
                    class="text-danger"> </span>
            </div>

            <div class="mb-3">
                <label for="exampleInputEmail1" class="form-label">Date de Creation</label>
                <input type="date"  th:value="${agence.dateCreation}" name="dateCreation" class="form-control" id="exampleInputEmail1"
                    aria-describedby="emailHelp">
                    <span th:errors=${agence.dateCreation}
                    class="text-danger"> </span>
            </div>

          





            <div class="text-center" style="margin: 5px; ">


                <button type="reset" class="btn btn-secondary">Reset</button>
                <button type="submit" class="btn btn-info">Save</button>
            </div>

        </form>

    </div>



</body>

</html>